
@import url('https://fonts.google.com/specimen/Comfortaa?preview.text_type=custom');
@import url(banner.css);
@import url(menu.css);
@import url(blog.css);
@import url(galeria.css);

*{
  margin: 3;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4{
  font-family: 'Comfortaa';
  text-shadow: 1px 1px 2px black;
}

header{
  width:100%;
  height:65px;
  background-image: linear-gradient(45deg, #9CF6F6, #D9CDDF);
  color: #fff;
  position: fixed;
  top:0;
  left:0;
  z-index:100;
}

.contenedor{
  width: 95%;
  margin:auto;

}

h1{
  float:left;
}

h4{
  font-size: 24px;
}
p{
  font-size: 20px;
}
header .contenedor{
  display: table;
}

section{
  width:100%;
  margin-bottom: 25px;
}
footer{
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
}
