#galeria {
  margin: 1rem auto;
  width:100%;
  max-width:960px;
  column-count: 3;
  -webkit-column-span:all;
  column-span:all;
  break-inside: avoid;
  page-break-inside: avoid;
  -moz-column-rule: 1px solid #bbb;
  -webkit-column-rule: 1px solid #bbb;
  column-rule: 1px solid #bbb;
}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) {
    #galeria {
        columns:2;
    }

}

/* Móviles en vertical */

@media (max-width: 480px) {
    #galeria {
        columns: 1;
    }
}
